<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta name="description" content="Abiral Shakya's personal site.">
  <meta name="keywords" content="Abiral Shakya, Princeton, topological insulators, device physics, machine learning, research">
  <meta property="og:title" content="Abiral Shakya – ML Researcher">
  <meta property="og:type" content="website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Abiral Shakya – ML & Physics @ Princeton</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
  <div style="width:100%;max-width:1000px;margin-right:auto;margin-left:auto;">
    {{ content }}
  </div>
</body>
</html>